.wc-button {
  padding: 0 var(--spacing-sm);
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-primary-text);
  background-color: var(--color-primary);
  border: none;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.1s;
}

.wc-button:hover {
  background-color: var(--color-primary-hover);
}

